* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
  margin-top: 1%;
  padding-top: 1%;
}
label:hover{
  cursor: pointer;
}
input{
  display: inline;
  width: 0;
  height: 0;
}

input,
button,
textarea,
select {
  outline: none;
  font: inherit;
}

button {
  width: 100%;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
